@inject IJSRuntime IJSRuntime
<div class="alert alert-info mt-3">
    <h6>
        <span style="border:2px solid white; border-radius:25%; padding:5px;background-color:white">ℹ️</span> @Message
    </h6>
</div>

@code {
    [Parameter]
    public string? Message { get; set; }
}
