@page "/user-applications"
@inject IDocumentService documentService
@inject IUserService userService
@rendermode InteractiveServer
@attribute [Authorize]
<br />
<Applications />

<br />
<br />
<br />
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<UploadDocument OnUploadSuccess = "RefresshDocumentsAsync"/>
		</div>
		<div class="col-md-6">
			<GetUserDocuments Documents = "documents" />
		</div>
	</div>
</div>
@code {
	private ApplicationUser User;
	private List<DocumentDTO> documents = new();

	protected override async Task OnInitializedAsync()
	{
		User = await userService.GetCurrentUserAsync();
		await RefresshDocumentsAsync();
	}

	private async Task RefresshDocumentsAsync()
	{
		if(User != null) documents = (await documentService.GetUserDocumentsAsync(User.Id)).ToList();
	}

}
