@using LoanApplictationApp.Migrations
@rendermode InteractiveServer
<div class="container w-50 container-div">
    <div class="col-md-12 text-md-center" style="background-color:lightblue">
        <h2>Bond Affordability Calculator</h2>
    </div>
    <hr style="height:0.5rem;" />
    <EditForm Model="model">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Gross Monthly Income (R)</label>
                    <input type="number" @bind="model.GrossIncome" @bind:event="oninput" class="form-control" id="p" />
                </div>
                <div class="col-md-4">
                    <label>Interest Rate (%)</label>
                    <input type="number" @bind="model.i" @bind:event="oninput" class="form-control" id="i" />
                </div>
                <div class="col-md-4">
                    <label>Period (years)</label>
                    <input type="number" @bind="model.n" @bind:event="oninput" class="form-control" id="i" />
                </div>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private Models.Affordability? model = new Models.Affordability();

}
