@rendermode InteractiveServer
@inject Services.Calculations calculate
<div class="container w-50 container-div">
    <div class="col-md-12 text-md-center" style="background-color:lightblue">
        <h2>Bond Repayment Calculator</h2>
    </div>
    <hr style="height:0.5rem;"/>
    <EditForm Model="loan">
        <div class="container">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Purchase Price (R)</label>
                    <input type="number" @bind="loan.P" @bind:event ="oninput" class="form-control" id="p" />
                </div>
                <div class="col-md-6">
                    <label>Monthly Payment (R)</label>
                    <input type="number" @bind="loan.x" @bind:event ="oninput" class="form-control" id="x" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Period (Years)</label>
                    <input @bind="loan.n" @bind:event ="oninput" class="form-control" id="n" />
                </div>
                <div class="col-md-6">
                    <label>Interest Rate (%)</label>
                    <input type="number" @bind="loan.i" @bind:event="oninput" class="form-control" id="i" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <label>Deposit (R)</label>
                    <input type="number" @bind ="@loan.D" @bind:event = "oniput" class="form-control" />
                </div>
            </div>

            <div>
                @* <p>Calculate:</p> *@
                @if (loan.x.HasValue && loan.n.HasValue && loan.i.HasValue)
                {
                    <button class="btn btn-success mb-2" @onclick="Amount">Purchase Price</button>
                }
                else if (loan.x.HasValue && loan.n.HasValue && loan.P.HasValue)
                {
                    <button class="btn btn-success mb-2" @onclick="Interest">Interest Rate</button>
                }
                else if (loan.P.HasValue && loan.n.HasValue && loan.i.HasValue)
                {
                    <button class="btn btn-success mb-2" @onclick="Payment">Monthly Payment</button>
                }
                else if (loan.x.HasValue && loan.P.HasValue && loan.i.HasValue)
                {
                    <button class="btn btn-success mb-2" @onclick="Years">Period</button>
                }
                @if (loan.x.HasValue && loan.n.HasValue && loan.P.HasValue)
                {
                    loan.T = Math.Round((decimal)(loan.x * loan.n * 12),2);
                    loan.I = Math.Round((decimal)(loan.T - loan.P), 2);
                    @if(loan.T.HasValue && loan.I.HasValue)
                    {
                        <div class="alert alert-info">
                            <pre>
                                <i>Total amount repayable</i>  :<b>R @loan.T</b>
                            </pre>
                            <pre>
                                <i>Total interest repayable</i>:<b>R @loan.I</b>
                            </pre>
                        </div>
                    }
                }
                
            </div>
        </div>
    </EditForm>
</div>


@code {
    private PresentValue? loan = new PresentValue();

    public async void Amount()
    {
        if(loan.x.HasValue && loan.n.HasValue && loan.i.HasValue)
        {
            loan.P = await calculate.PresentValue(loan.n.Value, loan.i.Value, loan.x.Value);
        }
    }
    public async void Payment()
    {
        if(loan.P.HasValue && loan.n.HasValue && loan.i.HasValue)
        {
            loan.x = await calculate.MonthlyPayment(loan.n.Value, loan.i.Value, loan.P.Value);
        }
    }

    public void Interest()
    {
    }

    public async void Years()
    {
        if(loan.P.HasValue && loan.x.HasValue && loan.i.HasValue)
        {
            loan.n = await calculate.Period(loan.x.Value,loan.i.Value,loan.P.Value);
        }
    }
}
