@page "/users-management"

@inject RoleManager<IdentityRole> RoleManager
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
<div class="card">
    <div class="card-header" style="background-color:floralwhite;color:black">
        <div class="col-md-12 text-md-center">
            <h1>Users Management</h1>
        </div>
    </div>
    <div class="card-body">
        <div class="grid-container">
            <button class="btn btn-success" @onclick="ShowAssignRoleToUser">Assign Role To User</button>
            <button class="btn btn-success" @onclick="ShowAddRoleToDb">Add Role To Bb</button>
            <button class="btn btn-success" @onclick="ShowRemoveRoleFromUser">Remove Role From User</button>
        </div>
    </div>
</div>

@if (showAssignRoleToUser)
{
    <div class="container">
        <AssignRoleToUser />
    </div>
}
else if (showAddRoleToDb)
{
    <AddRoleToDb />
}
else if (showRemoveRoleFromUser)
{
    <RemoveRoleFromUser />
}

@code {
    private bool showAssignRoleToUser = false;
    private bool showAddRoleToDb = false;
    private bool showRemoveRoleFromUser = false;

    private void ShowAssignRoleToUser()
    {
        showAddRoleToDb = false;
        showRemoveRoleFromUser = false;
        showAssignRoleToUser = true;
    }
    private void ShowAddRoleToDb()
    {
        showAssignRoleToUser = false;
        showRemoveRoleFromUser = false;
        showAddRoleToDb = true;
    }

    private void ShowRemoveRoleFromUser()
    {
        showAssignRoleToUser = false;
        showAddRoleToDb = false;
        showRemoveRoleFromUser = true;
    }
}


