body[b-8fbxsxx1ie] {
}
.btn-close[b-8fbxsxx1ie] {
    width: 2rem;           
    height: 2rem;           
    border-radius: 50%;     
}

.btn-close:hover[b-8fbxsxx1ie] {
    background-color: darkgray;  
    color: white;                
}
.alert-box[b-8fbxsxx1ie] {
    background-color: white;
    border: 2px solid cadetblue;
    padding: 10px;
    border-radius: 8px;
}

.alert-icon[b-8fbxsxx1ie] {
    display: inline-block;
    border: 2px solid cadetblue;
    border-radius: 50%;
    padding: 5px;
}

    .alert-icon img[b-8fbxsxx1ie] {
        opacity: 0.7; /* Adjust transparency */
    }

.alert-message[b-8fbxsxx1ie] {
    font-size: small;
    text-align: center;
}