@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="card">
    <div class="card-header" style="background-color:floralwhite;color:black">
        <div class="col-md-12 text-md-center">
            <h1>Forgot password confirmation</h1>
        </div>
    </div>
    <div class="card-body">
        <p>Please check your email to reset your password.</p>
        <p>
            Did not recieve email?
            <span>
                <a class="btn-link" href="/Account/ForgotPassword" target="_blank">
                    <i class="bi bi-hand-index"></i>
                </a>
            </span>
        </p>
    </div>
</div>
