@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="card small-box" style="font-size:small">
    <div class="card-header heading-form">
        <h5>Forgot password confirmation</h5>
    </div>
    <div class="card-body">
        <p>Please check your email to reset your password.</p>
        <p>
            Did not recieve email?
            <span>
                <a class="btn-link" href="/Account/ForgotPassword" target="_blank">
                    <i class="bi bi-hand-index"></i>
                </a>
            </span>
        </p>
    </div>
</div>
