@page "/Account/RegisterConfirmation"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using LoanApplictationApp.Data

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register confirmation</PageTitle>
<div class="card">
    <div class="card-header" style="background-color:floralwhite;color:black">
        <div class="col-md-12 text-md-center">
            <h1>Register confirmation</h1>
        </div>
    </div>
    <div class="card-body">
        <p>Please check your email to confirm your account.</p>
        <p>Did not recieve email? 
            <span>
                <a class="btn-link" href="/Account/ResendEmailConfirmation" target="_blank">
                    <i class="bi bi-hand-index"></i>
                </a>
            </span>
        </p>
    </div>
</div>
<StatusMessage Message="@statusMessage" />

@code {
    private string? emailConfirmationLink;
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByEmailAsync(Email);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = "Error finding user for unspecified email";
        }
    }
}
