@page "/Account/ResetPasswordConfirmation"
@rendermode InteractiveServer

<div class="card small-box">
    <div class="card-header heading-form">
        <div class="col-md-12 text-md-center">
            <h5>Reset password confirmation</h5>
        </div>
    </div>
    <div class="card-body">
        <SuccessMessage MarkupMessage="@successMessage" IsDivDisplayed="@IsDivVisible" IsDivDisplayedChanged="OnDivDisplayedChanged" />
    </div>
</div>

@code{
    private MarkupString successMessage  = (MarkupString)@"Your password has been reset. Please <a href='Account/Login'> click here to log in </a>.";
    private bool IsDivVisible = true;
    private void OnDivDisplayedChanged(bool IsDisplayed)
    {
        IsDivVisible = IsDisplayed;
    }
}