body[b-jwt6g77h0x] {
}
.success-message[b-jwt6g77h0x]{

}
.btn-close[b-jwt6g77h0x] {
    width: 2rem;           
    height: 2rem;           
    border-radius: 50%;     
}

.btn-close:hover[b-jwt6g77h0x] {
    background-color: darkgray;  
    color: white;                
}
